<div class="dropdown">
  <button class="btn dropdown-toggle d-flex align-items-center" 
          type="button" 
          id="userMenuDropdown" 
          data-bs-toggle="dropdown" 
          aria-expanded="false">
    <i class="fas fa-user-circle me-2"></i>
    <%= current_user.email %>
  </button>
  
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userMenuDropdown">
    <li><%= link_to user_profile_path, class: "dropdown-item" do %>
      <i class="fas fa-user me-2"></i>Profile
    <% end %></li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= link_to destroy_user_session_path, 
          class: "dropdown-item", 
          data: { turbo_method: :delete } do %>
        <i class="fas fa-sign-out-alt me-2"></i>Sign out
      <% end %>
    </li>
  </ul>
</div>