<% content_for :title, "Reports" %>

<div class="container-fluid py-4">
  <%= render 'date_range_form' %>
  
  <% if current_user.admin? %>
    <%= render 'admin_dashboard',
      total_users: @total_users,
      total_products: @total_products,
      published_products: @published_products,
      total_orders: @total_orders,
      paid_orders_count: @paid_orders_count,
      total_seller_applications: @total_seller_applications,
      pending_seller_applications: @pending_seller_applications,
      approved_seller_applications: @approved_seller_applications,
      rejected_seller_applications: @rejected_seller_applications,
      revenue: @revenue,
      total_reviews: @total_reviews,
      top_products: @top_products,
      top_sellers: @top_sellers
    %>
  <% else %>
    <%= render 'seller_dashboard', 
      total_products: @total_products,
      published_products: @published_products,
      total_orders: @total_orders,
      paid_orders_count: @paid_orders_count,
      revenue: @revenue,
      total_reviews: @total_reviews,
      average_rating: @average_rating,
      top_products: @top_products
    %>
  <% end %>
</div>