<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_admin_category_path(@category) if policy([:admin, @category]).edit?%> 
  <%= link_to "Back to categories", admin_categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete  if policy([:admin, @category]).destroy?%>
</div>
