<div class="card-body">
  <div class="position-absolute" style="top: 20px; right: 20px; z-index: 2;">
    <%= link_to "Show this product", admin_product_path(@product), class: "btn btn-outline-primary me-2" %>
    <%= link_to "Back to products", admin_products_path, class: "btn btn-outline-secondary" %>
  </div>
  <%= render "form", product: @product %>
</div>