<% content_for :title, "Editing review" %>

<h1>Editing review</h1>

<%# Renders inline into the turbo frame on the product page %>
<%= turbo_frame_tag "review_form" do %>
  <%= render "form", review: @review %>
<% end %>

<br>

<div>
  <%= link_to "Back to product", product_path(@product) %>
</div>
